.titulo-movie {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 10px;
}

.footer-movie {
    margin-top: 10px;
    font-weight: 600;
}

.card-small {
  border-radius: 10px;
  border: 1px solid #949494;
  background-color: #e2e2e2;
  height: auto;
  width: 200px;
  margin: 0 8px 16px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  font-size: medium;
}

.card-small:hover {
    background-color: #1976d2;
    color:#e2e2e2;
    cursor: pointer;
}