<div class="content" role="main">
    <!-- Cuadro Principal -->
    <div class="card highlight-card card-small">
      <span>Películas</span>
    </div>
  
    <!-- Lista de Películas -->
    <div class="card-container">
      <app-cadapelicula *ngFor="let pelicula of listapeliculas" [pelicula]="pelicula"></app-cadapelicula>
    </div>

    <!-- Cambiar Página -->
    <ul class="buttons">
      <li class="textofooter" (click)="res()">Anterior</li>
      <li class="textofooter" (click)="sum()">Siguiente</li>
    </ul>
</div>