<div class="content" role="main">
    <!-- Cuadro Principal -->
    <div class="card highlight-card card-small">
      <span>Películas</span>
    </div>
  
    <!-- Lista de Películas -->
    <div class="card-container">
      <app-cadapelicula *ngFor="let pelicula of listapeliculas" [pelicula]="pelicula"></app-cadapelicula>
    </div>

    <!-- Cambiar Página -->
    <div>
      <ul class="skillsbuttons">
        <li class="textofooter">Programación</li>
        <li class="textofooter">Desarrollo</li>
        <li class="textofooter">Tecnología</li>
      </ul>
    </div>
  </div>