<div *ngIf="auth.user$ | async; then authenticated else guest">

</div>

<!-- User NOT logged in -->

<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

<form method="post" action="index.html">
<div class="log-in">
<h1>Log In With Google</h1>

<ng-template #guest>
<p>Log In</p>

<button class="btn" (click)="auth.googleSignin()">
    <i class="fa fa-google"></i> Connect Google
</button>

</ng-template>
  
</div> <!-- End Box -->
  
</form>


<!-- User logged in -->
<ng-template #authenticated>
<div *ngIf="auth.user$ | async as user">
    
    <router-outlet></router-outlet>

    <!-- <button (click)="auth.signOut()">Logout</button>  -->  
</div>
</ng-template>
